.nav {
    background-color: rgb(245, 88, 15);

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        cursor: pointer;
        color: black;
    }
}

.card {
    background-color: rgb(255, 217, 0);
}